<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="joueur">
            <h2><span jhiTranslate="tennisApp.joueur.detail.title">Joueur</span> {{joueur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tennisApp.joueur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{joueur.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="tennisApp.joueur.nom">Nom</span></dt>
                <dd>
                    <span>{{joueur.nom}}</span>
                </dd>
                <dt><span jhiTranslate="tennisApp.joueur.login">Login</span></dt>
                <dd>
                    <span>{{joueur.login}}</span>
                </dd>
                <dt><span jhiTranslate="tennisApp.joueur.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="joueur.reservation">
                        <a [routerLink]="['/reservation', joueur.reservation?.id, 'view']">{{joueur.reservation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/joueur', joueur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
