<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-court-heading" jhiTranslate="tennisApp.court.home.createOrEditLabel">Create or edit a Court</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisApp.court.numero" for="field_numero">Numero</label>
                    <select class="form-control" name="numero" formControlName="numero" id="field_numero">
                        <option value="TROIS">{{'tennisApp.Terrain.TROIS' | translate}}</option>
                        <option value="QUATRE">{{'tennisApp.Terrain.QUATRE' | translate}}</option>
                        <option value="CINQ">{{'tennisApp.Terrain.CINQ' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisApp.court.reservation" for="field_reservation">Reservation</label>
                    <select class="form-control" id="field_reservation" name="reservation" formControlName="reservation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courtOption.id === editForm.get('reservation')!.value?.id ? editForm.get('reservation')!.value : courtOption" *ngFor="let courtOption of courts; trackBy: trackById">{{courtOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
