<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horaire">
            <h2><span jhiTranslate="tennisApp.horaire.detail.title">Horaire</span> {{horaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tennisApp.horaire.jour">Jour</span></dt>
                <dd>
                    <span>{{horaire.jour}}</span>
                </dd>
                <dt><span jhiTranslate="tennisApp.horaire.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="horaire.reservation">
                        <a [routerLink]="['/reservation', horaire.reservation?.id, 'view']">{{horaire.reservation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horaire', horaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
