<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reservation-heading" jhiTranslate="tennisApp.reservation.home.createOrEditLabel">Create or edit a Reservation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisApp.reservation.court" for="field_court">Court</label>
                    <select class="form-control" id="field_court" name="court" formControlName="court">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courtOption.id === editForm.get('court')!.value?.id ? editForm.get('court')!.value : courtOption" *ngFor="let courtOption of courts; trackBy: trackById">{{courtOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisApp.reservation.joueur" for="field_joueur">Joueur</label>
                    <select class="form-control" id="field_joueur" name="joueur" formControlName="joueur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="joueurOption.id === editForm.get('joueur')!.value?.id ? editForm.get('joueur')!.value : joueurOption" *ngFor="let joueurOption of joueurs; trackBy: trackById">{{joueurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisApp.reservation.horaire" for="field_horaire">Horaire</label>
                    <select class="form-control" id="field_horaire" name="horaire" formControlName="horaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="horaireOption.id === editForm.get('horaire')!.value?.id ? editForm.get('horaire')!.value : horaireOption" *ngFor="let horaireOption of horaires; trackBy: trackById">{{horaireOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
